body {
    background-color: rgb(51, 51, 51);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#mainBlock, #countUpper, #countLower {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#rowBlock {
    flex-grow: 1;
}

#countBlock, #countButtons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#countLower {
    flex-grow: 0;
}

#count {
    background-color: rgb(102, 51, 153);
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countNumber {
    font-size: 8rem;
}

button.counter, button.incSelect {
    flex-grow: 1;
}

button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 5rem;
    transition-timing-function: cubic-bezier(.22, .75, .29, .82);
    transition-duration: 1.5s;
}

button:focus {
    outline: none;
}

button:active {
    transition-timing-function: cubic-bezier(.04, 1.11, .09, .91);
    transition-duration: .5s;
}

button.green {
    color: rgb(0, 102, 0);
    background-color: rgb(51, 153, 51);
}

button.green:hover:enabled {
    color: rgb(0, 102, 51);
    background-color: rgb(51, 153, 102);
}

button.green:active:enabled {
    color: rgb(0, 102, 0);
    background-color: rgb(0, 51, 0);
}

button.red {
    color: rgb(102, 0, 0);
    background-color: rgb(153, 51, 51);
}

button.red:hover:enabled {
    color: rgb(102, 0, 51);
    background-color: rgb(153, 51, 102);
}

button.red:active:enabled {
    color: rgb(102, 0, 0);
    background-color: rgb(51, 0, 0);
}

button.incSelect {
    padding: 1rem 0rem;
    color: rgb(102, 102, 0);
    background-color: rgb(153, 153, 51);
}

button.red:disabled {
    color: rgb(102, 51, 51);
    background-color: rgb(102, 51, 51);
}

button.incSelect:hover:enabled {
    color: rgb(102, 102, 51);
    background-color: rgb(153, 153, 102);
}

button.incSelect:active:enabled {
    color: rgb(0, 0, 102);
    background-color: rgb(0, 0, 51);
}

button.incSelect:disabled {
    color: rgb(0, 0, 102);
    background-color: rgb(51, 51, 153);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}