@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/lexend-v2-latin-regular.woff2') format('woff2'), url('./fonts/lexend-v2-latin-regular.woff') format('woff');
}

body {
    background-color: rgb(51, 51, 51);
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#mainBlock, #countUpper, #countLower, #titleBlock {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#countBlock, #countButtons, #rowBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#rowBlock {
    background-color: rgb(51, 0, 51)
}

#countBlock {
    flex-grow: 3;
}

#countLower, #titleBlock {
    flex-grow: 0;
}

#count {
    background-color: rgb(102, 51, 153);
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countNumber {
    text-transform: full-width;
    font-size: 25vmin;
}

#countLabel {
    font-size: 12vmin;
}

button.counter, button.incSelect {
    flex-grow: 1;
}

button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10vmin;
    font-family: 'Lexend', sans-serif;
    transition-timing-function: cubic-bezier(.22, .75, .29, .82);
    transition-duration: 1.5s;
}

button.counter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15vmin;
}

button:focus {
    outline: none;
}

button:active {
    transition-timing-function: cubic-bezier(.04, 1.11, .09, .91);
    transition-duration: .5s;
}

button.green {
    color: rgb(0, 102, 0);
    background-color: rgb(51, 153, 51);
}

button.green:hover:enabled {
    color: rgb(0, 102, 51);
    background-color: rgb(51, 153, 102);
}

button.green:active:enabled {
    color: rgb(0, 102, 0);
    background-color: rgb(0, 51, 0);
}

button.red {
    color: rgb(102, 0, 0);
    background-color: rgb(153, 51, 51);
}

button.red:hover:enabled {
    color: rgb(102, 0, 51);
    background-color: rgb(153, 51, 102);
}

button.red:active:enabled {
    color: rgb(102, 0, 0);
    background-color: rgb(51, 0, 0);
}

button.incSelect {
    padding: 1rem 0rem;
    color: rgb(102, 102, 0);
    background-color: rgb(153, 153, 51);
}

button.red:disabled {
    color: rgb(102, 51, 51);
    background-color: rgb(102, 51, 51);
}

button.incSelect:hover:enabled {
    color: rgb(102, 102, 51);
    background-color: rgb(153, 153, 102);
}

button.incSelect:active:enabled {
    color: rgb(0, 0, 102);
    background-color: rgb(0, 0, 51);
}

button.incSelect:disabled {
    color: rgb(0, 0, 102);
    background-color: rgb(51, 51, 153);
}

#tableBlock {
    color-scheme: dark;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    flex: 1 1 1px;
}

table {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    overflow-y: auto;
}

table, th, td, caption {
    font-size: 3vmin;
    border: .3rem solid rgb(0, 0, 0);
    color: white;
    background-color: rgb(51, 0, 51);
}

th, td, caption {
    padding: .5rem 0rem;
}

td {
    scroll-snap-align: start;
}

caption {
    scroll-snap-align: start;
    border-bottom: none;
}

th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}